<div>

  <table class='table table-hover'>
      <thead>
          <tr>
              <th>ID</th>
              <th>Brand</th>
              <th>Model</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let p of products; let i=index" (click)="setSelectedProduct(i)" [class.active]="i == selectedRowNumber">
              <td>{{p.id}}</td>
              <td>{{p.brand}}</td>
              <td>{{p.model}}</td>
              <td><button class="btn btn-danger" (click)="deleteSelectedProduct(i)">Delete</button></td>
          </tr>
      </tbody>
  </table>

</div>
